<ul id="lists">
  <% sort_lists(@lists) do |list, index| %>
    <li class="<%= list_class(list) %>">
      <a href="/lists/<%= index %>">
        <h2><%= list[:name] %></h2>
        <p>
          <%= todos_remaining_count(list) %> / <%= todos_count(list) %>
        </p>
      </a>
    </li>
  <% end %>
</ul>


<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>
